# Dependencies
node_modules/
.pnp
.pnp.js

# Production Distribution
dist/
dist-ssr/

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS Files
.DS_Store
Thumbs.db
*.local
.vscode/
.idea/

# Vitest Coverage & Temp
coverage/
*.lcov
.system_generated/
